body {
  font-family: Arial, sans-serif;
  margin: 0;
}

#interview_container {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  text-align: center;
}

#question_progress {
  margin-bottom: 16px;
}

#flashcard {
  width: 320px;
  padding: 24px;

  background-color: #FFCD7D;
  border-radius: 6px;
}

#question_text {
  background: white;
  padding: 12px;
  margin-bottom: 16px;
}

#attempts_text {
  margin-bottom: 12px;
}

#submit_answer {
  padding: 8px 16px;
  margin-bottom: 12px;
}

#save_question {
  font-size: 14px;
}

#bottom_controls {
  margin-top: 24px;

  display: flex;
  gap: 20px;
}

.back_button {
  background-color: #FFCD7D;
  border: none;
  padding: 12px 16px;
}

.generate_more_button {
  background-color: #47EB99;
  border: none;
  padding: 12px 16px;
}

.feedback_button {
  background-color: #76E4E4;
  border: none;
  padding: 12px 16px;
}

#options_container {
  margin: 16px 0;
  text-align: left;
}

.option_row {
  display: block;
  background: white;
  padding: 8px;
  margin-bottom: 8px;
  border-radius: 4px;
  cursor: pointer;
}
